/*LINK DA FONTE USADA*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/*elemento que faz com que a rolagem automática da página (cliques em botões que levam à outras seções da página) seja mais leve*/
    html {
        scroll-behavior: smooth;
    }


/*FORMATAÇÃO GERAL DE TEXTOS*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }


/*FORMATAÇÃO DO CABEÇALHO*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 0 5%;
        position: absolute;
        width: 100%;

        /*atributo adicionado pra ajustar a posição do header em relação à homepage (deixa-o sobreposto a tudo*/
        z-index: 100;
    }

    #logo-inicial {
        width: 130px;
        position: absolute;
        display: flex;
        margin-top: 40px;
        margin-left: -10px;
    }

    header h1 {
        font-size: 40px;
        color: white;
    }

    header nav {
        display: flex;
        gap: 30px;
    }

    header nav a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600px;
        padding: 8px 16px;
        border-radius: 99px;
        transition: 0.3s;
        color: white;
    }


/*FORMATAÇÃO DOS LINKS DO NAVEGADOR (em especifico, aquele trem de quando passar o mouse por cima e diferenciar a vizualização)*/

    header nav a.active {
        background: #4572A8;
    }

    header nav a:hover {
        background: #4572A8;
    }

    header nav:hover > a:not(:hover) {
        background: none;
    }


/*FORMATAÇÃO DA HOMEPAGE*/
    .home {
        display: flex;
        height: 100dvh;
        background: linear-gradient(to top, #d2e2fb 75%, #2484BF);

        /*atributos adicionados para fazer com que oo bug da pagina (a beirada branca que surge quando o movimento das folhas é adicionado) volte ao normal*/
        position: relative;
        overflow: hidden;
    }

    .home img {
        position: absolute;
        width: 100%;
        bottom: 0;
        pointer-events: none; /*atributo que não permite a imagem ser clicável*/
    }


/*AJUSTES DA POSIÇÃO DO TÍTULO EM RELAÇÃO ÀS IMAGENS DA HOMEPAGE*/
    .home .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 80px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
    }


/*FORMATAÇÃO DA SEÇÃO INTRODUCTION*/
    .introduction {
        padding: 170px;
        background: #7B9B65;
        color: white;

        /*a aplicação desses dois atributos a seguir limitam a rolagem do titulo, posicionando o texto acima do titulo quando ultrapassar o limite da homepage*/
        position: relative; 
        z-index: 100;
    }

    .introduction h1 {
        font-size: 50px;
        text-align: left;
        justify-content: left;
        margin-left: 60px;
        text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    }

    .introduction img {
        position: relative;
        pointer-events: none;
        width: 60%;
        display: flex;
        margin-bottom: auto;
        border-radius: 20px;
        box-shadow: 40px 40px 10px rgba(0, 0, 0, 0.25);
    }

    .right-side {
        float: right;
        margin-right: -40px;
        margin-bottom: 70px;
        margin-top: 50px;
    }

/*FORMATAÇÃO DA SEÇÃO DESTINATIONS*/
    .destinations {
        padding: 50px;
        background: #356B8C;
        color: white;

        /*a aplicação desses dois atributos a seguir limitam a rolagem do titulo,posicionando o texto acima do titulo quando ultrapassar o limite da homepage*/
        position: relative; 
        z-index: 100;
    }

    .destinations h1 {
        font-size: 50px;
        text-align: center;
        padding: 50px;
        margin-bottom: 30px;
        text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    }

    .destinations h2 {
        font-size: 30px;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .destinations h3 {
        font-size: 20px;
        color: #D3D3D3;
        margin-left: 100px;
        margin-right: 100px;
    }

    .destinations p {
        text-align: justify;
        color: #DCDCDC;
        margin-left: 100px;
        margin-right: 100px;
    }

    /*LEMBRETE: padronizar esse tipo de formatação no futuro*/
    .mondstadt img {
        position: relative;
        margin-left: 300px;
        margin-bottom: 100px;
        margin-top: 30px;
        pointer-events: none;
        width: 50%;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    }

    .liyue img {
        position: relative;
        margin-left: 300px;
        margin-bottom: 100px;
        margin-top: 30px;
        pointer-events: none;
        width: 50%;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    }

    .inazuma img {
        position: relative;
        margin-left: 300px;
        margin-bottom: 100px;
        margin-top: 30px;
        pointer-events: none;
        width: 50%;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    }

    .sumeru img {
        position: relative;
        margin-left: 300px;
        margin-bottom: 100px;
        margin-top: 30px;
        pointer-events: none;
        width: 50%;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    }

    .fontaine img {
        position: relative;
        margin-left: 300px;
        margin-bottom: 100px;
        margin-top: 40px;
        pointer-events: none;
        width: 50%;
        margin-bottom: 70px;
        border-radius: 20px;
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    }


/*FORMATAÇÃO DA SEÇÃO COMPANIONSHIP*/
    .companionship {
        padding: 50px;
        background: #2484BF;
        color: white;

        /*a aplicação desses dois atributos a seguir limitam a rolagem do titulo, posicionando o texto acima do titulo quando ultrapassar o limite da homepage*/
        position: relative; 
        z-index: 100;
    }

    .companionship h1 {
        font-size: 50px;
        text-align: center;
        padding: 50px;
        margin-bottom: 30px;
        text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    }

    .companionship h2 {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .companionship img {
        width: 20%;
        position: relative;
        display: flexbox;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .companionship-titulo p {
        text-align: center;
        margin-bottom: 50px;
    }

    .companionship-content p {
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: justify;
    }

    .companionship-content {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .companionship-test {
        flex: 1 1 50%; /*IMPORTANTE, revisar a aplicabilidade desse atributo depois*/
        justify-content: space-between;
        padding: 50px;
        background-color: #3B8DBF;
        box-shadow: 50px 50px 200px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
    }


/*FORMATAÇÃO DO FOOTER (SEÇÃO CONTACT)*/

    /*variáveis que controlam as cores adicionadas*/
    :root {
        --color-neutral-0: #174038;
        --color-neutral-10: #255941;
        --color-neutral-30: #a8a29e;
        --color-neutral-40: #f5f5f5;
    }

    footer {
        width: 100%;
        color: var(--color-neutral-40);
    }

    footer img {
        width: 20%;
        align-items: center;
    }

    .footer-link {
        text-decoration: none;
    }

    /*BOTÃO QUE LEVA AO TOPO DA PÁGINA*/
    #top {
        text-decoration: none;
        font-size: 20px;
        border-radius: 10px;
        color: #8BBF65;
        background-color: white;
        width: 150px;
        height: 30px;
        text-align: center;
    }

    #footer_content {
        background-color: var(--color-neutral-10);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem 3.5rem;
    }

    #footer_contacts h1 {
        margin-bottom: 0.75rem;
    }

    #footer_social_media {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    } 

    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--color-neutral-40);
        border-radius: 50%;
        transition: all 0.4s;
    }

    #footer_social_media .footer-link i {
        font-size: 1.25rem;    
    }

    #footer_social_media .footer-link:hover {
        opacity: 0.8;
    }

    #instagram {
        background-color : #808080;
    }

    #facebook {
        background-color: #808080;
    }

    #whatsapp {
        background-color: #808080;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
    }

    .footer-list .footer-link {
        color: var(--color-neutral-30);
        transition: all 0.4s;
    }

    .footer-list .footer-link:hover {
        color: #8BBF65;
    }

    #footer_subscribe {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #footer_subscribe p {
        color: var(--color-neutral-30);
    }

    #input_group {
        display: flex;
        align-items: center;
        background-color: var(--color-neutral-0);
        border-radius: 4px;
    }

    #input_group input {
        all: unset;
        padding: 0.75rem;
        width: 100%;
    }

    #input_group button {
        background-color: #8BBF65;
        border: none;
        color: var(--color-neutral-40);
        padding: 0px 1.25rem;
        font-size: 1.125rem;
        height: 100%;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        transition: all 0.4s;
    }

    #input_group button:hover {
        opacity: 0.8;
    }

    #footer_copyright {
        display: flex;
        justify-content: center;
        background-color: var(--color-neutral-0);
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100;
    }

    /*RESPONSIVIDADE DO FOOTER*/
    @media screen and (max-width: 768px) {
        #footer_content {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }

    @media screen and (max-width: 426px) {
        #footer_content {
            grid-template-columns: repeat(1, 1fr);
            padding: 3rem 2rem;
        }
    }

    @media screen and (max-width: 1264px) {
        .destinations img {     /*RESPONSIVIDADE da seção destinations*/
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 110px;
            margin-right: auto;
        }

        .introduction img {     /*RESPONSIVIDADE da seção introdução*/
            display: none;
        }

        .introduction h1 {      /*RESPONSIVIDADE da seção introdução*/
            text-align: center;
        }
    }

    
    @media screen and (max-width: 600px) {
        .companionship h1 {     /*RESPONSIVIDADE da seção companionship*/
            font-size: 30px;
        }
    }

    @media screen and (max-width: 850px) {
        .hide {                 /*RESPONSIVIDADE da seção introdução*/
            display: none;
        }
    }